body{
    background-color: black;
    overflow:hidden
}

@font-face {
    font-family: JoseonPalace;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

.click_to_next{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.scene {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75vmin;
    height: 75vmin;

    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.scene_1{
    background-image: url("../img/ending/scene1.png");
}
.scene_2{
    background-image: url("../img/ending/scene2.png");
}
.scene_3{
    background-image: url("../img/ending/scene3.png");
}

.scene_4{
    background-color: black;
}
.scene_4_text {
  font-family: JoseonPalace;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: max-content;        /* 내용에 맞춰 너비를 자동으로 */
  font-size: 4vw;
  color: white;

  white-space: normal;       /* br 유지됨 */
  text-align: center;        /* 다줄 텍스트 중앙정렬 */
}

.scene_5{
    position: absolute;
    right: 2vw;
    bottom: -5%;
    width: 27vmin;
    height: 27vmin;

    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    opacity: 0;
    background-image: url("../img/ending/scene5.png");
}

.scene_5_text {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: max-content;        /* 내용에 맞춰 너비를 자동으로 */
  font-size: 2vw;
  color: white;

  white-space: normal;       /* br 유지됨 */
  text-align: center;        /* 다줄 텍스트 중앙정렬 */
}

.click_to_next_text{
    position: absolute;
    color: gray;
    bottom: 5%;
    left: 50%;
    font-size: 1vw;
    transform: translate(-50%, -50%);
}